/dataset
__pycache__
/.venv
/LSTM/training_plots
grid_search_plots/
best_models/
embeddings/
grid_search_results.csv
training_logs/
product_forecasts/
GNN/DynamicSimilarities/GraphAnalysis/DynamicGraphPkls
GNN/DynamicSimilarities/GraphAnalysis/GraphPlots
GNN/FixedGraphs/GraphAnalysis/FixedGraphPkls
GNN/FixedGraphs/GraphAnalysis/FixedGraphPlots
inference_logs/
OverallDistributions*/
MLP_Results/